radp:
  # radp.env 只有配置在 vagrant.yaml (即主配置文件中) 才会生效
  # 如果配置在 vagrant-<env>.yaml 中，是无效的
  env: sample
  extend:
    vagrant:
      plugins:
        # see: https://github.com/devopsgroup-io/vagrant-hostmanager
        - name: vagrant-hostmanager
          # if required: true, 则表示该插件必须安装
          required: true
          options:
            # vagrant up/destroy 时更新 hosts
            enabled: true
            # 作为 provisioner 运行（与 enabled 互斥）
            # provisioner: enabled
            # 在宿主机上的 hosts 文件中添加虚拟机的主机名解析信息
            manage_host: true
            # 在各自虚拟机中添加各虚拟机的主机名解析信息
            manage_guest: true
            # 是否包含已经 offline 的 guest
            include_offline: false
            # 忽略私有网络的地址
            ignore_private_ip: false
            # 如果 guest 有多张网卡，可借助这个特性获取你需要的网卡 ip
            ip_resolver:
              enabled: true
              # 这里借助 hostmanager ip_resolve 特性，
              # 获取 guest 第2张网卡也就是 public_network ip
              execute: "hostname -I | awk '{print $3}'"
              regex: "^(\\S+)"
        # see: https://github.com/dotless-de/vagrant-vbguest
        - name: vagrant-vbguest
          required: true
          options:
            # 启动时检查/更新 Guest Additions (默认: true)
            auto_update: false
            # 仅检查不安装
            no_install: true
            # 安装后需要时自动重启 (默认: true)
            auto_reboot: true
            # 允许安装旧版本 (默认: true)
            allow_downgrade: true
            installer_options:
              allow_kernel_upgrade: false
        # see: https://github.com/gael-ian/vagrant-bindfs
        - name: vagrant-bindfs
          required: true
          options:
      config:
        # optional: 所有 guest 的公共配置
        common:
          synced-folders:
            # see: https://developer.hashicorp.com/vagrant/docs/synced-folders/basic_usage
            # support basic, nfs, rsync, smb
            basic:
              - enabled: false
                # 使用绝对路径 或者 相对路径
                host: /path/to/host/folder
                guest: /path/to/guest/folder
                create: true
          # see: https://developer.hashicorp.com/vagrant/docs/triggers/configuration
          triggers:
            - name: global-trigger-1
              desc: 'print trigger description'
              enabled: false
              only-on:
                - '/k8s-.*/'
              "on": before
              # support action, command, hook
              type: action
              # 这里以 actions 为例
              action:
                - up
                - reload
              # Support run or run_remote
              run:
                # support inline, path
                inline: |
                  inline script
          # see: https://developer.hashicorp.com/vagrant/docs/provisioning/basic_usage
          provisions:
            - name: global-provision-1
              desc: 'print provision description'
              enabled: false
              # support shell, file
              type: shell
              # optional: support before or after
              # before: provision_name (commented: provision must exist)
              privileged: false
              # pre (default) or post - for common provisions only
              phase: pre
              # support once, always, never
              run: once
              # support inline, path
              inline: |
                inline script
