radp:
  # radp.env 只有配置在 vagrant.yaml (即主配置文件中) 才会生效
  # 如果配置在 vagrant-<env>.yaml 中，是无效的
  env: sample
  extend:
    vagrant:
      plugins:
        # see: https://github.com/devopsgroup-io/vagrant-hostmanager
        - name: vagrant-hostmanager
          # if required: true, 则表示该插件必须安装
          required: true
          options:
            enabled: true
            manage_host: true
            manage_guest: true
            include_offline: true
            ignore_private_ip: false
        # see: https://github.com/dotless-de/vagrant-vbguest
        - name: vagrant-vbguest
          required: true
          options:
            auto_update: false
            install_options:
              allow_kernel_upgrade: false
        # see: https://github.com/tmatilai/vagrant-proxyconf
        - name: vagrant-proxyconf
          required: true
          options:
            # https://github.com/tmatilai/vagrant-proxyconf?tab=readme-ov-file#disabling-the-plugin
            enabled:
            http: "http://192.168.31.8:6152"
            https: "http://192.168.31.8:6152"
            no_proxy: "localhost,127.0.0.1"
        # see: https://github.com/gael-ian/vagrant-bindfs
        - name: vagrant-bindfs
          required: true
          options:
      config:
        # optional: 所有 guest 的公共配置
        common:
          synced-folders:
            # see: https://developer.hashicorp.com/vagrant/docs/synced-folders/basic_usage
            # support basic, nfs, rsync, smb
            basic:
              - enabled: true
                # 使用绝对路径 或者 相对路径
                host: /path/to/host/folder
                guest: /path/to/guest/folder
                create: true
          # see: https://developer.hashicorp.com/vagrant/docs/triggers/configuration
          triggers:
            - name: global-trigger-1
              desc: 'print trigger description'
              enabled: true
              only-on:
                - '/k8s-.*/'
              "on": before
              # support action, command, hook
              type: action
              # 这里以 actions 为例
              action:
                - up
                - reload
              # Support run or run_remote
              run:
                # support inline, path
                inline: |
                  inline script
          # see: https://developer.hashicorp.com/vagrant/docs/provisioning/basic_usage
          provisions:
            - name: global-provision-1
              desc: 'print provision description'
              enabled: true
              # support shell, file
              type: shell
              # optional: support before or after
              # before: provision_name (commented: provision must exist)
              privileged: false
              # support once, always, never
              run: once
              # support inline, path
              inline: |
                inline script
